.FeaturedProducts {
  margin: 100px 200px;

  .top {
    display: flex;
    justify-content: left;
    margin-bottom: 50px;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    
    gap: 50px;

   
  }
}
