.cart {
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 99;
  background-color: gray;
  padding: 20px;

  .item {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    img {
      max-width: 200px;
      max-height: 300px;
    }
  }
  .total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
