.navbar {
  height: 70px;
  background-color: #212121;

  .link {
    color: #d4d4d4;
  }
  .wrapper {
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
  }

  .itemSeparator {
    color: #2879fe;
  }
  .item {
    display: flex;
    align-items: center;
    font-size: 20px;
    letter-spacing: 1px;
  }

  .left {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .center {
    font-size: 30px;
  }

  .right {
    display: flex;
    align-items: center;
    gap: 25px;

    .icons {
      display: flex;
      gap: 25px;
      cursor: pointer;
      color: #d4d4d4;

      .cartIcon {
        position: relative;
        span {
          border-radius: 50%;
          width: 20px;
          height: 20px;
          font-size: 12px;
          background-color: #2879fe;
          color: white;
          position: absolute;
          right: -10px;
          top: -10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
